extends layout

block content
  h1= title

  ul.products_container
    each item in items_list
      li
        a(href=item.url) #{item.name}
        //- |  (#{category.description})
    else
      li There are no item.