body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

nav {
  text-align: center;
}

ul {
  list-style-type: none;
}

.products_container > li {
  display: grid;
}